/*FONTS*/

$font-family-heading: 'PT Sans',
sans-serif;
$font-family-parragraph: 'PT Serif',
serif;
html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    height: 100%;
}

.cbp-fbscroller {
    height: 100%;
    section {
        height: 100%;
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    >nav {
        position: fixed;
        z-index: 9999;
        right: 40px;
        top: 50%;
        width: 26px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        a {
            display: block;
            position: relative;
            z-index: 9999;
            color: transparent;
            width: 14px;
            height: 14px;
            outline: none;
            margin: 20px 0;
            border-radius: 50%;
            border: 1px solid #fff;
        }
        a.cbp-fbcurrent {
            background: #fff;
        }
    }
}

.no-touch {
    .cbp-fbscroller {
        >nav {
            a {
                &:hover {
                    background: rgba(255, 255, 255, 0.6);
                }
            }
        }
        section {
            background-attachment: fixed;
        }
    }
}

#fbsection1 {
    background-image: url(../images/reactr-front.png);
    .btn {
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: $font-family-heading;
        color: #969696;
        letter-spacing: 4px;
        font-size: 15px;
        background: #fcfcfc;
        margin-top: 80px;
        padding: 10px 20px 10px 20px;
        border: solid #ffffff 2px;
        text-decoration: none;
        &:hover {
            background: none;
            text-decoration: none;
            color: white;
        }
    }
    ul {
        width: 400px;
        height: 400px;
        position: absolute;
        right: 250px;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        list-style: none;
    }
    li {
        color: white;
        &:first-child {
            font-family: $font-family-heading;
            font-size: 60px;
            line-height: 87px;
        }
        &:nth-child(2) {
            margin-top: 3px;
            font-size: 16px;
            line-height: 19px;
            font-family: $font-family-heading;
            width: 70px;
            height: 40px;
            border-bottom: 1px solid white;
            margin-bottom: 20px;
            letter-spacing: 4px;
        }
        &:nth-child(3) {
            font-size: 19px;
            line-height: 26px;
            font-family: $font-family-parragraph;
            height: 170px;
        }
    }
}

#fbsection2 {
    background-image: url(../images/edfc/2.png);
    @extend #fbsection1;
    li {
        &:first-child {
            font-size: 50px;
        }
    }
}

#fbsection3 {
    background-image: url(../images/drinky/1.png);
    @extend #fbsection1;
}

#fbsection4 {
    background-image: url(../images/myMovvies/3.png);
    @extend #fbsection1;
}

#fbsection5 {
    background-image: url(../images/Christina/4.png);
    @extend #fbsection1;
}
#fbsection6 {
    background-image: url(../images/d3-front.png);
    @extend #fbsection1;
}
#fbsection7 {
    background-image: url(../images/weddings-front.png);
    @extend #fbsection1;
}
.position {
  width: 361px !important;

}
